
.upper {
    text-align: center;
    font-size: xx-large;
    margin: 40px 0;
}

.upper .green {
    color: rgb(12,187,75);
}

.image {
    margin: auto;
    overflow: hidden;
    width: 95%;
    height: 400px;
}

.image img {
    width: 100%;
    height: 100%;
}

.inner {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}