.signup {
    border: 1px solid silver;
    width: fit-content;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    display: grid;
}

.signup h1 {
    text-align: center;
}

.signup button {
    padding: 10px 5px;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    background-color: transparent;
}

.signup button:hover {
    animation: bgcolor 1s forwards;
}